@model RuuviTagApp.ViewModels.NewTagListModel
<div class="modal" id="addGroupModal">
    <div class="modal-dialog">
        <div class="modal-content modal-ruuvi">
            <div class="modal-header modal-ruuvi-header">
                <h2>Create a new group</h2>
                <button type="button" class="ruuvi-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>If you have multiple different locations with multiple RuuviTags, creating a group for them might help you sort them out.</p>

                @using (Html.BeginForm("AddUserTagList", "Home", FormMethod.Post, new { id = "addUserTagListForm" }))
                {
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <label for="ListName">Group name</label>
                        @Html.EditorFor(model => model.ListName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", minlength = "3", required = true, placeholder = "Sauna tags, bedroom tags ..." } })
                        @Html.HiddenFor(model => model.IdsAsString)
                    </div>
                }

                <p class="mt-3">While you're at it, add some of your RuuviTags to this group.</p>
                <div class="form-group">
                    @Html.DropDownList("UserTagDropdownList", null, htmlAttributes: new { @class = "form-control", id = "selectTagToList" })
                    <button class="btn btn-general mt-2" id="addATagToList">Add</button>
                </div>
                <p id="addedTagsHeader">RuuviTags to be added:</p>
                <ul id="addedTags"></ul>
            </div>
            <div class="modal-footer modal-ruuvi-footer">
                <button class="btn btn-general btn-block-mobile" form="addUserTagListForm">Create</button>
            </div>
        </div>
    </div>
</div>
