@model IEnumerable<RuuviTagApp.ViewModels.GroupDataModel>

@foreach (var item in Model)
{
    <div>
        <h2>@item.TagDisplay</h2>
        <div class="RuuviTagData">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row" id="ruuviTagTemperature">
                        <div class="col-lg-12 col-sm-12">
                            @*<a class="btn btn-tagdata-temp" id="btn-TagTemp" onclick="openTempChartModal()" title="View tag temperature"></a>*@
                            <a class="btn btn-tagdata-temp" id="btn-TagTemp" href="#tempchart_@item.TagID" title="View tag temperature"></a>
                            <p id="tagTempNow_@item.TagID" class="tagdata-value"></p> <span class="celsius">&#176;C</span>
                            <p class="tagdata-header">Temperature</p>
                            <hr class="tagdata-hr" />
                        </div>
                    </div>
                    <div class="row" id="ruuviTagHumidity">
                        <div class="col-lg-12 col-sm-12">
                            @*<a class="btn btn-tagdata-hum" id="btn-TagHum" onclick="openHumiChartModal()" title="View tag humidity"></a>*@
                            <a class="btn btn-tagdata-hum" id="btn-TagHum" href="#humchart_@item.TagID" title="View tag humidity"></a>
                            <p id="tagHumNow_@item.TagID" class="tagdata-value"></p> <span class="percent">%</span>
                            <p class="tagdata-header">Humidity</p>
                            <hr class="tagdata-hr" />
                        </div>
                    </div>
                    <div class="row" id="ruuviTagAirPressure">
                        <div class="col-lg-12 col-sm-12">
                            @*<a class="btn btn-tagdata-air" id="btn-TagAir" onclick="openAirChartModal()" title="View tag air pressure"></a>*@
                            <a class="btn btn-tagdata-air" id="btn-TagAir" href="#presschart_@item.TagID" title="View tag air pressure"></a>
                            <p id="tagPressNow_@item.TagID" class="tagdata-value"></p> <span class="hpa">hPa</span>
                            <p class="tagdata-header">Air pressure</p>
                            <hr class="tagdata-hr" />
                            <p id="lastUpdated">Not calculated</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ruuvi-eye-home d-none d-md-block" id="RuuviEyeBg" onmouseover="highlightEye()"></div>
            </div>
            <p class="tip d-lg-none">To view charts, please <a class="link" onclick="highlightIcons()" role="button">press the icons</a> above.</p>
            <div id="desktopCharts">
                <div class="row" id="desktopChartsRow">
                    <div class="col-lg-4 mt-sm-3">
                        <h1 class="tagdata-header">Temperature</h1>
                        <canvas id="tempchart_@item.TagID"></canvas>
                    </div>
                    <div class="col-lg-4 mt-sm-3">
                        <h1 class="tagdata-header">Humidity</h1>
                        <canvas id="humchart_@item.TagID"></canvas>
                    </div>
                    <div class="col-lg-4 mt-sm-3">
                        <h1 class="tagdata-header">Air pressure</h1>
                        <canvas id="presschart_@item.TagID"></canvas>
                    </div>
                </div>
            </div>
            <hr class="GroupCharts" />
        </div>
    </div>
}

<script>
@foreach (var i in Model)
{
    var lastTemp = @Html.Raw(i.Temperature.Substring( i.Temperature.LastIndexOf(",") +1));
    var lastHum = @Html.Raw(i.Humidity.Substring(i.Humidity.LastIndexOf(",") + 1));
    var lastPress = @Html.Raw(i.Pressure.Substring(i.Pressure.LastIndexOf(",") + 1));

    <text>
    document.getElementById("tagTempNow_@i.TagID").innerHTML = @lastTemp;
    document.getElementById("tagHumNow_@i.TagID").innerHTML = @lastHum;
    document.getElementById("tagPressNow_@i.TagID").innerHTML = @lastPress;

    new Chart(document.getElementById("tempchart_@i.TagID"), {
        type: 'line',
        data: {
            labels: [@Html.Raw(i.Time)],
            datasets: [{
                label: 'Temperature',
                data: [@Html.Raw(i.Temperature)],
                backgroundColor: [
                    'rgba(107, 234, 225, 0.2)',
                ],
                borderColor: [
                    'rgba(107, 234, 225, 1)',
                ],
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("humchart_@i.TagID"), {
        type: 'line',
        data: {
            labels: [@Html.Raw(i.Time)],
            datasets: [{
                label: 'Humidity',
                data: [@Html.Raw(i.Humidity)],
                backgroundColor: [
                    'rgba(107, 234, 225, 0.2)',
                ],
                borderColor: [
                    'rgba(107, 234, 225, 1)',
                ],
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("presschart_@i.TagID"), {
        type: 'line',
        data: {
            labels: [@Html.Raw(i.Time)],
            datasets: [{
                label: 'Pressure',
                data: [@Html.Raw(i.Pressure)],
                backgroundColor: [
                    'rgba(107, 234, 225, 0.2)',
                ],
                borderColor: [
                    'rgba(107, 234, 225, 1)',
                ],
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </text>
}
</script>
