@model RuuviTagApp.ViewModels.AddAlertModel
<div class="modal" id="tagAlertsModal">
    <div class="modal-dialog">
        <div class="modal-content modal-ruuvi">
            <div class="modal-header modal-ruuvi-header">
                <h2>RuuviTag alerts</h2>
                <button type="button" class="ruuvi-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Home/_TagAlerts.cshtml", Model)
            </div>
            <div class="modal-footer modal-ruuvi-footer">
                <button type="submit" id="addAlarmBtn" name="tagID" form="addTagAlarmForm" class="btn btn-general btn-block-mobile">Update</button>
            </div>
        </div>
    </div>
</div>