@*Maybe check if user has saved email address, and if not, inform user that they can not set up alarms. Otherwise display form?*@
<h4>Set up RuuviTag alerts</h4>
<p>Set up alerts and receive a notification via email if something is going on with your RuuviTag.*</p>
<p class="font-italic">Notifications are not sent realtime. Alert limit values are checked on the hour.</p>