<div class="container-fluid pl-0">
    <nav class="navbar navbar-ruuvitag navbar-expand">
        <div class="collapse navbar-collapse" id="tag-nav">
            <ul class="navbar-nav mr-auto navbar-ruuvitag-nav">
                <div class="dropdown">
                    <button class="btn btn-tagdropdown dropdown-toggle btn-sm" type="button" id="tagMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Choose RuuviTag">
                        <img src="~/SVG/web-ruuvi-eye-nega.svg" width="28" height="28" alt="Ruuvi logo">
                    </button>
                    <div class="dropdown-menu dropdown-menu-ruuvi" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item dropdown-item-ruuvi" href="#">Example Tag name 1</a>
                        <a class="dropdown-item dropdown-item-ruuvi" href="#">Example Tag name 2</a>
                        <a class="dropdown-item dropdown-item-ruuvi" href="#">Example Tag name 3</a>
                    </div>
                </div>
                <li class="nav-item active">
                    <a class="nav-link svg-btn-settings" href="#settings" title="Tag settings"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link svg-btn-alert" href="#alert" title="Manage alerts"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link svg-btn-new" data-toggle="modal" data-target="#addTagModal" title="Add new RuuviTag"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>