@model RuuviTagApp.Models.RuuviTagModel
<div class="modal" id="tagSettingsModal">
    <div class="modal-dialog">
        <div class="modal-content modal-ruuvi">
            <div class="modal-header modal-ruuvi-header">
                <h2>RuuviTag settings</h2>
                <button type="button" class="ruuvi-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Home/_TagSettings.cshtml", Model)
            </div>
            <div class="modal-footer modal-ruuvi-footer">
                <button class="btn btn-general float-right btn-block-mobile" form="editTagForm" type="submit" title="Update settings">Update settings</button>
            </div>
        </div>
    </div>
</div>