@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Application settings";
    if (Request.IsAuthenticated)
    {
        ViewBag.Username = User.Identity.GetUserName();
    }
}


<div class="container body-content" id="body-content">
    <div class="row">
        @if (Request.IsAuthenticated)
        {
            <div class="col-lg-6">
                <h2>Remove all my data</h2>
                <p>You are signed in as @ViewBag.Username.</p>
                <p>If you come to a conclusion to get all your data removed from this application, please read this section carefully.</p>
                <p>By continuing with this action, you agree to delete all data related to your account. Please note, that this action only affects data stored within this application - data such as username, saved RuuviTag ID's and RuuviTag Lists. This action does not affect the actual data gathered by the RuuviTags or any other account of yours, that are related to Ruuvi.</p>
                <p class="text-warning">Data removal is permanent and can not be undone!</p>
                <form>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="confirmDataRemoval">
                            <label class="form-check-label" for="confirmDataRemoval">I have read the data removal information</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-general btn-block-mobile" id="btn-deleteUserData">Delete this account and all data related to it</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h2>Save email address to the database</h2>
                <p>If we have won your trust and you have decided to save your email address to the database, please read and agree the Ruuvi <a href="https://shop.ruuvi.com/terms/" target="blank">terms and conditions</a>.</p>
                <p>Saving the email address to the database enables the option to set up alerts for your RuuviTags.</p>
                <form>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="confirmEmailSaving">
                            <label class="form-check-label" for="confirmEmailSaving">I agree to the terms and conditions</label>
                        </div>
                    </div>
                    <div id="continueAuth">
                        <button type="submit" class="btn btn-general btn-block-mobile">Continue</button>
                        <small id="continueAuthHelpText" class="form-text text-muted">Clicking this button will redirect you to the Google Authentication</small>
                    </div>
                </form>
            </div>
        }
    </div>
</div>

<script>
    let btnDeleteUserData = document.getElementById("btn-deleteUserData");
    let btnDeleteUserDataVisible = false;
    btnDeleteUserData.style.display = "none"; // Hide button by default

    // Toggle data removal button
    $('#confirmDataRemoval').click(function () {
        if (!btnDeleteUserDataVisible) {
            btnDeleteUserData.style.display = "block";
            btnDeleteUserDataVisible = true;
        } else {
            btnDeleteUserData.style.display = "none";
            btnDeleteUserDataVisible = false;
        }
    });

    let continueAuth = document.getElementById("continueAuth");
    let continueAuthVisible = false;
    continueAuth.style.display = "none"; // Hide button by default

    // Toggle data removal button
    $('#confirmEmailSaving').click(function () {
        if (!continueAuthVisible) {
            continueAuth.style.display = "block";
            continueAuthVisible = true;
        } else {
            continueAuth.style.display = "none";
            continueAuthVisible = false;
        }
    });
</script>