@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Application settings";
    if (Request.IsAuthenticated)
    {
        ViewBag.Username = User.Identity.GetUserName();
    }
}


<div class="container body-content" id="body-content">
    <div class="row">
        @if (Request.IsAuthenticated)
        {
            <div class="col-lg-6">
                <h2>Remove all my data</h2>
                <p>You are signed in as @ViewBag.Username.</p>
                <p>If you come to a conclusion to get all your data removed from this application, please read this section carefully.</p>
                <p>By continuing with this action, you agree to delete all data related to your account. Please note, that this action only affects data stored within this application - data such as username, saved RuuviTag ID's and RuuviTag Lists. This action does not affect the actual data gathered by the RuuviTags or any other account of yours, that are related to Ruuvi.</p>
                <p class="text-warning">Data removal is permanent and can not be undone!</p>
                <form>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="readDataRemovalInformation">
                            <label class="form-check-label" for="readDataRemovalInformation">I have read the data removal information</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-general" id="btn-deleteUserData">Delete this account and all data related to it</button>
                </form>
            </div>
        }
    </div>
</div>

<script>
    let btnDeleteUserData = document.getElementById("btn-deleteUserData");
    let btnIsVisible = false;
    btnDeleteUserData.style.display = "none"; // Hide deletion button by default

    // Toggle data removal button
    $('#readDataRemovalInformation').click(function () {
        if (!btnIsVisible) {
            btnDeleteUserData.style.display = "block";
            btnIsVisible = true;
        } else {
            btnDeleteUserData.style.display = "none";
            btnIsVisible = false;
        }
    });
</script>