
@{
    ViewBag.Title = "Groups";
    @Html.Partial("~/Views/Home/_GroupNav.cshtml")
    @Html.Partial("~/Views/Home/_AddGroupModal.cshtml")
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            Hello Groups
        </div>
    </div>
</div>