
@{
    ViewBag.Title = "Questions and answers";
}
<div class="container body-content" id="body-content">
    <div class="row mt-3" id="helpHeaders">
        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h5 class="card-title-ruuvi"><a href="#google-authentication">Google Authentication</a></h5>
                    <p>Learn about the Google Authentication, email storing and registering.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h5 class="card-title-ruuvi"><a href="#ruuvitag-id">RuuviTag ID or MAC</a></h5>
                    <p>Learn about the RuuviTag ID or MAC and how to find it.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h5 class="card-title-ruuvi"><a href="https://ruuvi.com/terms/" target="blank">Privacy policy and terms</a></h5>
                    <p>Learn about the Ruuvi Innovations LTD privacy policy and terms.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h5 class="card-title-ruuvi"><a href="#alerts">Email alerts</a></h5>
                    <p>Learn about the email alerts and how to set them up.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h5 class="card-title-ruuvi"><a href="#groups">Groups</a></h5>
                    <p>Learn about the groups and what are the they for.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h5 class="card-title-ruuvi"><a href="#trouble-signingin">Trouble signing in?</a></h5>
                    <p>Trouble signing in or on authentication? See these tips.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5" id="helpContent">
        <div class="col-12 col-help">
            <h1 id="google-authentication">Google Authentication</h1>
            <p>In order to spare you from creating a yet another user account, you can authenticate by using your very own Google Account.</p>
            <p>While authenticating first time, we are giving you an option to save or not to save your email address to our database. If you choose not to save the email address, unfortunately you will not be able to create any email alerts for your RuuviTags within this application. You can, however, save your email address to the database later in <a href="/Home/AppSettings">App settings</a>.</p>
            <p>To revoke authentication access, please head to Google Security settings. More about Google Account permissions <a href=https://support.google.com/accounts/answer/112802 target=”blank”>here (Google)</a>.</p>
            <p>To delete your authenticated account and all data related to it within this application, see <a href="/Home/AppSettings">App settings</a>.</p>
        </div>

        <div class="col-12 col-help">
            <h1 id="ruuvitag-id">RuuviTag ID or MAC</h1>
            <p>Each RuuviTag device has a unique ID. The ID is a very same as the devices MAC address. The ID looks something like this: c04db14ab635 or c0:4d:b1:4a:b6:35. You can search your RuuviTags with our without colons within this application.</p>
            <p>You can find the RuuviTag ID from the mobile application under the Tag Settings.</p>
            <p>Please note, that when you are searching or saving a RuuviTag, this application checks whether the given ID is an actual RuuviTag or not. If the given ID or MAC address is not from a RuuviTag or if the RuuviTag has not sent any data to the cloud, you are not able to save or display any data from this RuuviTag. Please see <a href="#helpRuuviLinks">these options</a> or visit <a href="https://ruuvi.com" target="blank">ruuvi.com</a> to get help with this issue.</p>
            <p>This application currently supports Data format 3 (RAWv1) and Data format 5 (RAWv2). If you have trouble finding your RuuviTag, please make sure it has a proper firmware. Read more <a href="https://lab.ruuvi.com/ruuvitag-fw/" target="blank">here</a>.</p>
        </div>

        <div class="col-12 col-help">
            <h1 id="alerts">Email Alerts</h1>
            <p>Please note that in order to set up alerts, you must have had to allow us to save your email address to our database during first time Google Authentication or in <a href="/Home/AppSettings">App settings</a>.</p>
            <p>You can set up low and high limit values to temperature, humidity and air pressure. Alerts are checked on the hour and they are sent via email.</p>
        </div>

        <div class="col-12 col-help">
            <h1 id="groups">Groups</h1>
            <p>Imagine this: You have a lovely home and a comfortable cabin in Lapland. You want to monitor their rooms, saunas, garages and more, so you end up having more RuuviTags than you can count.</p>
            <p>Creating groups will help you to categorize, sort and monitor your RuuviTags in different locations.</p>
        </div>

        <div class="col-12 col-help" id="trouble-signingin">
            <h1>Trouble signing in?</h1>
            <p>On some rare occasions you might face a problem when pressing <strong>Authenticate with Google</strong> -button. The button might not do anything at all, or it might take you to the Google, but nothing happens on return.</p>
            <p>This might happen if we have just released a new version of this application and the server is just adjusting and your browser has outdated cached data. This could also happen if there is issues with cookies or other browser settings.</p>
            <p>If you encouter any issues with signing in or authenticating, please make sure that you</p>
            <ul>
                <li>Make sure you use a modern browser and it is up to date</li>
                <li>Reset your browser cache</li>
                <li>Make sure your browser supports cookies</li>
                <li>Try another browser</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5 mb-5" id="helpRuuviLinks">
        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h1><a href="https://ruuvi.com/faq/" target="blank">FAQ</a></h1>
                    <p>Frequently asked questions</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h1><a href="https://ruuvi.com/faq/" target="blank">Forums</a></h1>
                    <p>Visit Ruuvi Forums</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h1><a href="https://t.me/ruuvicom" target="blank">Telegram</a></h1>
                    <p>Chat with Ruuvi at Telegram</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-ruuvi text-center">
                <div class="card-body">
                    <h1><a href="mailto:contact@ruuvi.com" target="blank">Contact</a></h1>
                    <p><a href="mailto:contact@ruuvi.com">contact@ruuvi.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>