@using Microsoft.AspNet.Identity;
@using RuuviTagApp.Models;
@using RuuviTagApp.ViewModels;
@{
    ViewBag.Title = "Home Page";
    if (Request.IsAuthenticated)
    {
        ViewBag.Msg = $"Hello {User.Identity.GetUserName()}!";
    }
}

@* Content visible only when user is not logged in *@
@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Log in using Google</h2>
            @Html.Partial("~/Views/Account/_ExternalLoginPartial.cshtml", new ExternalLoginListViewModel())
        </div>
        <div class="col-md-6 mt-lg-0 mt-5">
            @*This is a dummy form for presenting the search function*@
            <h2>Continue without logging in</h2>
            <div class="form-group">
                <label for="tagId">RuuviTag ID</label>
                <input type="text" class="form-control" id="tagId" aria-describedby="tagIdHelp" placeholder="Enter RuuviTag ID">
                <small id="tagIdHelp" class="form-text text-muted">RuuviTag ID is same as its MAC address.</small>
            </div>
            <button type="button" class="btn btn-general">Search</button>
            @*<p class="mt-2">Get RuuviTag data by using the search form above. Please note that without logging ... </p>*@
        </div>
    </div>
    ExternalLoginConfirmationViewModel elcvm = Model is ExternalLoginConfirmationViewModel ?
        Model : new ExternalLoginConfirmationViewModel();
    @Html.Partial("~/Views/Account/ExternalLoginConfirmation.cshtml", elcvm)
} @*End of content visible only when user is not logged in*@

@* Content visible only when user is logged in *@
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Header</h2>
            <p>User is logged in.</p>
        </div>
        <div class="col-md-6 mt-lg-0 mt-5">
            <h2>Header</h2>
            <p>User is logged in.</p>
        </div>
    </div>
} @*End of content visible only when user is logged in*@
@{
    MacAddressModel mam = Model is MacAddressModel ? Model : new MacAddressModel();
}
@Html.Partial("~/Views/Home/MacAddress.cshtml", mam)
@section scripts{
    <script type="text/javascript">
        $(window).on('load', function () {
            var renderRegisterModal = @((ViewBag.RenderRegisterModal ?? false).ToString().ToLower());
            if (renderRegisterModal) {
                $('#externalRegisterModal').modal('show');
            }
        });
    </script>
}