
@{
    ViewBag.Title = "Access denied";
}
<div class="NotFound">
    <div class="container-fluid">
        <div class="row">
            <div class="col-centered">
                <div class="col-lg-12">
                    <h1>Rejected</h1>
                    <p>You do not have access to this page.</p>
                    <p>Signing in might help with this issue.</p>
                    <a href="/Home/Index" class="btn btn-general mt-3">Go back home</a>
                </div>
            </div>
        </div>
    </div>
</div>

