
@{
    ViewBag.Title = "500 Internal Server Error";
}
<div class="NotFound">
    <div class="container-fluid">
        <div class="row">
            <div class="col-centered">
                <div class="col-lg-12">
                    <h1>500</h1>
                    <p>Internal Server Error</p>
                    <a href="/Home/Index" class="btn btn-general mt-3">Go back home</a>
                </div>
            </div>
        </div>
    </div>
</div>

